<h1>Tell Us 2 People to Introduce</h1>

<div class="errors">
	<% if @connection.errors.present? %>
		<% @connection.errors.each do |key, message| %>
			<p class="error"><b><%= key %></b>: <%= message %></p>
		<% end %>
	<% end %>
</div> 

<%= form_for @connection do |f| %>
	<h2>Tell us two poeple you want to connect?</h2>
	<%= f.fields_for :connectee1 do |c1| %> 
		<%= c1.label :name1 %>
		<%= c1.text_field :name%>
		<%= c1.label :email1 %>
		<%= c1.email_field :email%>
	<% end %>
	<%= f.fields_for :connectee2 do |c2| %> 
		<%= c2.label :name2 %>
		<%= c2.text_field :name%>
		<%= c2.label :email2 %>
		<%= c2.email_field :email%>
	<% end %>
	<h2>Who should get the credit?</h2>
	<%= f.fields_for :connector do |c| %> 
		<%= c.label :name %>
		<%= c.text_field :name%>
		<%= c.label :email %>
		<%= c.email_field :email%>	
	<% end %>	
	<%= f.label :reason %>
	<%= f.text_area :reason %>
	<%= f.submit "Introduce" %>
<% end %>

