<div class="container">
	<h2>Tell us two poeple to connect. We do all the work.</h2>

	<div class="errors">
		<% if @connection.errors.present? %>
			<% @connection.errors.each do |key, message| %>
				<p class="error"><b><%= key %></b>: <%= message %></p>
			<% end %>
		<% end %>
	</div>

		<div class="row">
		  <div class="span6">
		  	<%= form_for @connection do |f| %>
					<%= f.fields_for :connectee1 do |c1| %>
					<div class="card">
						<img class="pull-left img-circle" src= "http://placehold.it/100x100">
							<div class="body">
						    <%= c1.label :name1, "1st Name" %>
								<%= c1.text_field :name, placeholder: "Steve Jobs"%>
								<%= c1.label :email1, "1st Email" %>
								<%= c1.email_field :email, placeholder: "steve.jobs@apple.com"%>
						  	<% end %>
						  </div>
					</div>
			</div>

			<div class="span6">
					<%= f.fields_for :connectee2 do |c2| %>
					<div class="card">
						<img class="pull-left img-circle" src= "http://placehold.it/100x100">
							<div class="body">
						    <%= c2.label :name2, "2nd Name" %>
								<%= c2.text_field :name, placeholder: "Bill Gates"%>
								<%= c2.label :email2, "2nd Email" %>
								<%= c2.email_field :email, placeholder: "bill.gates@microsoft.com"%>
						  	<% end %>
					  	</div>
					</div>
		  </div>
		</div>
		  <div class="span12">
		  	<h2>And who should get the credit? (it's you!)</h2>
					<%= f.fields_for :connector do |c| %>
						<%= c.label :name, "Your Name" %>
						<%= c.text_field :name%>
						<%= c.label :email, "Your Email" %>
						<%= c.email_field :email%>
					<% end %>
					<%= f.label :reason %>
					<%= f.text_area :reason, rows: 6 %>

					<%= f.label :notify_connector_of_success, :class => "checkbox" do %>
 					<%= f.check_box :notify_connector_of_success %>Receive notification if both accept? <% end %>
					<%= f.submit "Introduce", :class => "btn btn-primary"%>
			<% end %>
		  </div>
		</div>
</div>
