<h1>Tell Us 2 People to Introduce</h1>
<%= form_for @connection do |f| %>
	<%= f.fields_for :connectee1 do |c1| %> 
		<%= c1.label :name %>
		<%= c1.text_field :name%>
		<%= c1.label :email %>
		<%= c1.email_field :email%>
	<% end %>
	<%= f.fields_for :connectee2 do |c2| %> 
		<%= c2.label :name %>
		<%= c2.text_field :name%>
		<%= c2.label :email %>
		<%= c2.email_field :email%>
	<% end %>
	<%= f.label :reason %>
	<%= f.text_area :reason %>
	<%= f.fields_for :connector do |c| %> 
		<%= c.label :name %>
		<%= c.text_field :name%>
		<%= c.label :email %>
		<%= c.email_field :email%>
	<% end %>
	<%= f.submit "Introduce" %>
<% end %>

