<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
	</head>
	<body>
		<h1><%= @connectee2.name %>, <%= @connector.name %> wants to make an introduction for you.</h1>
			<p><%= @connector.name %> thinks you should meet <%= @connectee1.name %>, because:</p>
				<blockquote><%= @reason %></blockquote>
			<p><%= connection_accept_url "Accept", 	(@connection, :params => {:cid => @connectee2.id}) %></p>
			<p><%= connection_deny_url(@connection, :params => {:cid => @connectee2.id}) %></p>
			<p>If <%= @connectee1.name %> also agrees to exchange contact info, we'll send you an email with all the information.</p>
	</body>
</html>