<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Conxer | New Connections Made Easy</title>
        <meta name="description" content="Email introductions shouldn't be hard. Conxer is simple to use web app to cut out the back-and-forth work of making introductions.">
        <meta name="viewport" content="width=device-width">

        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= csrf_meta_tags %>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  </head>
  <body>
    <div class="container">
       <div class="flash">
     	  <%= flash[:notice] if flash[:notice] %>
      </div>
    </div>
      <%= yield %>

    <hr>

    <footer>
     <div class="container">
      <p>Created by <a href="http://www.andrewkkirk.com/?utm_source=conxer&utm_medium=web&utm_content=footer&utm_campaign=conxer">Andrew K Kirk</a> &copy; 2012 Conxer</p>
    </footer>
    </div>
  </div>
    <!-- Javascript - Placed at the end of the document so the pages load faster -->
        <%= javascript_include_tag "application" %>
  </body>
  </html>
